{% extends "base.html" %}

{% block title %}
    {% if category %}
        Kategorie {{category}} editieren
    {% else %}
        neue Kategorie anlegen
    {% endif %}
{% endblock %}

{% block head %}

{% if category %}
    <h1>Kategorie {{category}} editieren</h1>
{% else %}
    <h1>neue Kategorie anlegen</h1>
{% endif %}
{% endblock %}

{% block content %}
<p><a href="{% url 'events:categories' %}">zurück zur Übersicht der Kategorien</a></p>

<div>
<form method="POST">
{% csrf_token %}

{{form}}

<div>
<button class="btn btn-primary">Formular absenden</button>
</div>

</form>
</div>


{% endblock %}